 <footer>
 <div>
 <div class="footer">
  <ul>
    <li class="text">加入會員取得 9 折優惠</li>
    <li class="register"><a href="#">馬上註冊</a></li>
  </ul>
</div>
</div>
 <div class="end b-0-12">
  <div class="end-img">
    <img src="../assets/images/img/logo.svg" alt="#">
  </div>
  <ul class="end-list">
    <li class="end-list-lift"><a href="#">商品列表</a></li>
    <li><a href="#">品牌故事</a></li>
  </ul>
 </div>
 <div class="last">
  <p>Copyright ©2025 URBNSTYLE</p>
  <p>All Rights Reserved.</p>
 </div>
 </footer>