  <div class="header m-w b-0-12 ">
    <ul class="header-lift">
      <li><img src="../assets/images/img/logo.svg" alt="logo"></li>
      <li class="hide"><a href="#">商品列表</a></li>
      <li class="hide"><a href="introduce.html">品牌故事</a></li>
    </ul>
    <div class="person">
      <a href="#">
        <i class="bi bi-person"></i>
      </a>
    </div>
  </div>