.footer ul{
	display: flex;
	background: #E8FEC5;
	justify-content: center;
	align-items: center;
	padding: 24px 0px;
	margin: 48px 0px;
}
.footer .text{
	font-size: 24px;
	font-weight: 700;
	color: #212529;
	margin-right: 16px;
	line-height: 1.2;
}
.footer a{
	background-color: #212529;
	color: white;
	padding: 12px 24px;
	border-radius: 5px;
	font-weight: 500;
}
.end{
	max-width: 1296px ;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 24px;
	border-bottom: 1px solid #DEE2E6;
}
.end-list{
	display: flex;
}
.end-list a{
	color:#212529 ;
	font-weight: 500;
}
.end-list-lift{
	margin-right: 40px;
}
.last{
	text-align: center;
	font-size: 14px;
	color: #6C757D;
	padding-top: 24px;
	padding-bottom: 48px;
	
}
@media (max-width: 1296px){
    .b-0-12{
		padding: 0px  12px;
	}
	.hide{
		display: none;
	}
}
@media (max-width: 768px) {
	.end{
		flex-direction: column;
	}
	.end img{
		margin-bottom: 24px;
	}
	.end-list{
		flex-direction: column;
		padding-left: 12px;
	}
	.end-list li{
		margin-bottom: 24px;
	}
}