.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0px;
}
.header-lift{
	width: 28%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;

}
.header-lift li a{
	color: #212529;
}
.person i{
	color:black;
	font-size: 24px;
}
@media (max-width: 1296px){
	
    .b-0-12{
		padding: 0px  12px;
	}
	.hide{
		display: none;
	}
}
@media (max-width: 768px) {
	.header{
		padding-top:24px;
		padding-bottom: 24px;
	}
}