<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  </head>
  <body>
  <div class="container">
    <%- include('./layout/header'); -%>
  <div>
    <ul class="list d-flex">
      <li class="first-hide"><a class="s-g" href="merchandise.html">商品列表</a></li>
      <li class="first-hide"><a href="introduce.html">品牌故事</a></li>
    </ul>
  </div>
  <div class="banner">
    <div class="main-text">
      <h2>URBNSTEP</h2>
      <p>Your Step, Your Statement</p>
      <a class="button" href="#">立即選購</a>
    </div>
  </div>
  <div class="new-item m-w b-0-12">
    <h2 class="size-48">New Arrival</h2>
    <p class="size-32">新品上市</p>
    <ul class="row column-gap-24 column-gap-12">
        <li class="col-6 "><a href="#"><img class="width-100" src="../assets/images/3-4/new-1.png" alt="#"><h3>Monoverse</h3><p>NT$3,600</p></a></li>
        <li class="col-6 "><a href="#"><img class="width-100" src="../assets/images/3-4/new-2.png" alt="#"><h3>Monoverse</h3><p>NT$3,600</p></a></li>
        <li class="col-6 "><a href="#"><img class="width-100" src="../assets/images/3-4/new-3.png" alt="#"><h3>Monoverse</h3><p>NT$3,600</p></a></li>
        <li class="col-6 "><a href="#"><img class="width-100" src="../assets/images/3-4/new-4.png" alt="#"><h3>Monoverse</h3><p>NT$3,600</p></a></li>
    </ul>
  </div>
  <div class="hot-item m-w b-0-12">
    <h4 class="size-32">熱銷補貨</h4>
    <ul class="row column-gap-24 column-gap-12">
        <li class="col-3"><a href="#"><p>人氣 No.1</p><img class="width-100" src="../assets/images/img/product-3.png" alt="#"></a></li>
        <li class="col-3"><a href="#"><p>人氣 No.1</p><img class="width-100" src="../assets/images/img/product-4.png" alt="#"></a></li>
        <li class="col-3"><a href="#"><p>人氣 No.1</p><img class="width-100" src="../assets/images/img/product-5.png" alt="#"></a></li>
        <li class="col-3"><a href="#"><p>人氣 No.1</p><img class="width-100" src="../assets/images/img/product-6.png" alt="#"></a></li>
    </ul>
  </div>
  <div class="joint-name ">
    <div class="joint-name-text d-flex f-d-c">
    <div class=" d-flex j-c f-d-c-768">
    <h2 class="size-48">URBNSTEP</h2>
    <h2 class="green">x</h2>
    <h2 class="size-48">Kevin Chen</h2>
    </div> 
    <h3 class="size-32">跨界聯名，限量發售</h3>
    <p>新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
    <img class="sparkle" src="../assets/images/3-4/sparkle.svg" alt="#">
    <img class="star" src="../assets/images/3-4/star.svg" alt="#">
    </div>
    <a class="button" href="#">立即搶購</a>
  </div>
  <div class="series m-w b-0-12">
    <h3  class="size-32">依系列選購</h3>
    <ul class="row column-gap-24 column-gap-12">
        <li class="col-3"><a href="#"><img class="width-100" src="../assets/images//img/product-6.png" alt="#"><div class="series-text"><h2>URBN RUNNER</h2><p>慢跑系列</p></div></a></li>
        <li class="col-3"><a href="#"><img class="width-100" src="../assets/images//img/product.png" alt="#"><div class="series-text"><h2>STREETMODE</h2><p>滑板系列</p></div></a></li>
        <li class="col-3"><a href="#"><img class="width-100" src="../assets/images//img/product-4.png" alt="#"><div class="series-text"><h2>CHUNK DISTRICT</h2><p>厚底系列</p></div></a></li>
        <li class="col-3"><a href="#"><img class="width-100" src="../assets/images//img/product-1.png" alt="#"><div class="series-text"><h2>COLLAB ZONE</h2><p>聯名企劃</p></div></a></li>
    </ul>
  </div>
  <div class="dress-code m-w b-0-12">
    <h3 class="size-32">穿搭靈感</h3>
      <div class="d-flex  column-gap-8 overflow-md-auto column-md-gap-16">
    <div class="d-flex flex-column row-gap-8 w-66 d-md-contents">
      <div class="d-flex flex-grow-1 column-gap-8 d-md-contents">
        <img src="../assets/images/3-4/inspiration-1.png" alt="穿搭1" />
        <img src="../assets/images/3-4/inspiration-2.png" alt="穿搭2" />
        <img src="../assets/images/3-4/inspiration-6.png" alt="穿搭3" />
        <img src="../assets/images/3-4/inspiration-4.png" alt="穿搭4" />
      </div>
      <div class="d-flex  column-gap-8 d-md-contents">
        <img class="w-50" src="../assets/images/3-4/inspiration-3.png" alt="穿搭5" />
        <div class="d-flex w-50  flex-column row-gap-8 d-md-contents">
          <div class="d-flex column-gap-8 d-md-contents">
            <img src="../assets/images/3-4/inspiration-7.png" alt="穿搭7" />
            <img src="../assets/images/3-4/inspiration-8.png" alt="穿搭8" />
          </div>
          <div class="d-flex column-gap-8 d-md-contents">
            <img class="w-50" src="../assets/images/3-4/inspiration-9.png" alt="穿搭9" />
            <img class="w-50" src="../assets/images/3-4/inspiration-10.png" alt="穿搭6" />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column row-gap-8 w-33 d-md-contents">
      <img src="../assets/images/3-4/inspiration-5.png" alt="穿搭10" />
      <div class="d-flex column-gap-8 d-md-contents">
        <img src="../assets/images/3-4/inspiration-11.png" alt="穿搭11" />
        <img src="../assets/images/3-4/inspiration-12.png" alt="穿搭12" />
      </div>
    </div>
  </div>
  </div>
 <%- include('./layout/footer'); -%>
 </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
